/*Right Section*/
.rightSection{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left:83px;
  top:0px;
}

.rightSection-center{
  width: 605px;
  position: relative;
  overflow: scroll;
  height: 800px;
  scrollbar-width: none;/* Firefox */
  -ms-overflow-style: none;/* IE 10+ */
    
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari 和 Edge */
  }
}


.rightSection-right{
  width: 463px;
  left:630px;
}

/*Right Section -- Center*/
/*Header*/
.middle-header {
  border: 0.5px solid lightgrey;
  width: 600px;
  display: flex;
  height: 50px;
  background-color: white;
  position: sticky;
  top:0px;
  z-index: 300;
  
  &.popup{
    background-color:transparent;
  }
}

.toLeftMainTitle{
  margin-left: -50px;
}

.middle-header-leftarea {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 40px;
}

.middle-header-leftarea-img{
  width: 25px;
  height: 25px;
  position: absolute;
}

//hover effect
.hover-circle-header{
  width: 40px;
    height: 40px;
    background-color: lightgray;
    opacity: 0;
    border-radius: 50px;
    position: relative;
    left: -7px;
    display: none;
    transition: opacity 0.3s;
}

.middle-header-leftarea-img:hover ~ .hover-circle-header{
  display: block;
  opacity: 0.4;
}


.middle-header-rightarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 20px;
}

.middle-header-title {
  font-weight:bold;
  font-size: 1rem;
}

.feed-count {
  font-size: 0.8rem;
  color: grey;
}

// img{
//   width: 15px;
//   height: 15px;
// }

/*Right Section -- Center*/
/*Feed*/

.feeds {
  width: 600px;
  display: flex;
  flex-direction: row;
  border: 0.5px solid lightgrey;
  padding-top: 5px;
  padding-bottom: 10px;
}

.feeds-LeftArea {
  width: 40px;
  position: relative;
  padding-left: 15px;
}

.feeds-RightArea {
  width: 550px;
  display: flex;
  flex-direction: column
}


.feeds-RightTopArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.feeds-poster-name {
  font-weight: bold;
}

.feeds-poster-id,
.feeds-poster-time {
  color: grey;
  padding-left: 5px;
}

.feeds-poster-time{
  font-size: 0.8rem;
  padding-left: 20px;
}

.feeds-RightButtonArea {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 0.8rem;
}

.feeds-poster-ReplyIcon, .feeds-poster-heartIcon {
  padding-left: 10px;
  width: 18px;
  height: 18px;
}

.feeds-poster-heartIcon.red{
  height: 15px;
}

.feeds-poster-ReplyNumber, .feeds-poster-heartNumber{
  padding-left: 10px;
}


.feeds-poster-ReplyArea, .feeds-poster-heartArea{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 30px;
}

.feeds-poster-ReplyArea {
  // display: none;
}

.feeds-poster-heartNumber{
  font-size: 15px;
}

.feeds-RightButtonArea,
.feeds-RightTopArea,
.feeds-RightCenterArea {
  padding: 3px 0;
}

.feeds-RightCenterArea {
  display: flex;
  justify-content: flex-start;
}

.feeds-RightCenterReplyArea {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: grey;
}

.feeds-RightCenterReplyArea-replyPerson {
  color: orange;
  padding-left: 2px;
}

.feeds-user-photo, .post-user-photo {
  width: 40px;
  height: 40px;
  border-radius: 45px;
  padding: 3px;
  object-fit: cover;
}

.placeholder-lazyloading-feedsUserPhoto{
    width: 40px;
    height: 40px;
    border-radius: 45px;
    padding: 3px;
    position: absolute;
    top: 0px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    transition: opacity 1.5s ease;
}

//post--reply -- action
.footer-reply-area{
    background-color: white;
    width: 600px;
    border: 0.8px solid lightgray;
    display: flex;
    align-items: center;
    height: 65px;
}

#footerReply{
  height: 30px;
  margin: 10px;
  width: 70%;
  height: 40px;
  margin-left: 10px;
}

.footerReply-submit-btn{
  background: orangered;
  border-radius: 40px;
  color: white;
  padding: 0px;
  width: 100px;
  padding-left: 0px;
  margin-left: 10px;
  height: 40px;
      
}


/*Right Section -- Center*/
/*Post*/

.post {
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border: 0.5px solid lightgrey;
  padding-top: 3px;
}

.post-LeftArea {
  width: 40px;
  position: relative;
  padding-left: 15px;
  padding-top: 10px;
}

.post-user-photo {
  width: 40px;
  height: 40px;
}

.post-RightArea {
  width: 550px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  &.popup {
      background-color: transparent;
    }
}

.post-RightTopArea{
  color: black;
  height: 80px;
  padding-top: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  border:0px solid;
  outline:none;
  padding-left: 5px;
  padding-right: 10px;
}

.post-RightButtonArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;

}

.post-button {
  margin-right: 20px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  border: 0px;
  padding: 5px 10px;
  margin-bottom: 5px;
  height: 35px;
  width: 70px;
  opacity: 0.5;
}

.post-RightArea:focus-within .post-button {
  opacity: 1;
}

.post-brbar {
  width: 600px;
  height: 8px;
  color: lightgrey;
  border-right: 0.5px solid lightgrey;
  border-left: 0.5px solid lightgrey;
}
/*delete btn*/

.delete-3{
  width: 25px;
  height: 25px;
}

input[type="checkbox"] {
  display: none;
}

.delete-btn {
  display: none;
  width: 120px;
  height: 50px;
  box-shadow: 2px 2px 7px 2px lightgrey;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: red;
}

input[type="checkbox"]:checked + label + .delete-btn {
  display: flex;
}


/*Right Section -- Right*/

.right-section {
  display: flex;
  justify-content: flex-start;
}


.right-section-container {
  border: 0.5px solid lightgray;  
  width: 350px;
  height: 610px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 5px;
  z-index: 200;
  overflow: scroll;
  &.popup {
      background-color: transparent;
    }
}

.right-section-container-title{
  border-bottom: 0.5px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-section-container-followbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:3px;
  border-bottom:0.5px solid lightgray;
  height: 60px;
}

.followbox-center-name{
  color: black;
}

.followbox-left{
  position: relative;
  padding-left: 10px;
}
.followbox-photo {
  width: 40px;
  height: 40px;
  border-radius: 45px;
  padding-left: 5px;
  padding-top: 3px;
  object-fit: cover;
}

.placeholder-lazyloading-followboxUserPhoto{
    width: 40px;
    height: 40px;
    border-radius: 45px;
    position: absolute;
    top: 3px;
    left: 15px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    transition: opacity 1.5s ease;
}

.followbox-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 170px;
  font-style: bold;
  padding-left: 10px;
  font-size: 0.8rem;
}

.followbox-center-id {
  color: grey;
}

.followbox-right-button {
  margin-right: 10px;
  border-radius: 40px;
  background-color: white;
  color: orangered;
  border: 0.8px solid orangered;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
  
  &.followed{
  margin-right: 10px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  border: 0px;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
  height: 30px;
  }
}

/*Right Section -- Center*/
/*Center Bigger Post*/

.bigger-post {
  display: flex;
  flex-direction: column;
  width: 595px;
  border: 0.5px solid lightgrey;
  padding-left: 5px;
}

.bigger-post-top-area {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 8px;
}

.bigger-post-top-area-right {
  display: flex;
  flex-direction: column;
}

.post-user-photo {
  width: 40px;
  height: 40px;
}

.placeholder-lazyloading-UserPhoto{
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  transition: opacity 1.5s ease;    border-radius: 45px;
  position: absolute;
  top: 13px;
  left: 18px;
}
.feeds-poster-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.feeds-poster-id {
  font-size: 0.8rem;
  color: grey;
}

.bigger-post-center-area-post {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.bigger-post-center-area-posttime {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: grey;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
  padding-left: 5px;
}

.bigger-post-button-area-replyandlike {
  display: flex;
  flex-direction: row;
  font-size: 1.1 rem;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
  color: grey;
  padding-left: 5px;
}

.bigger-post-button-area-reply {
  display: flex;
  flex-direction: row;
}

.bigger-post-button-area-like {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.bigger-post-button-area-reply-num,
.bigger-post-button-area-like-num {
  font-weight: bold;
  padding-right: 3px;
  color: black;
}

.bigger-post-button-area-icon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
  padding-left: 30px;
}

.bigger-post-button-area-likeicon {
  margin-left: 80px;
}

//skelton
.card-skelton{
  display: flex;
  border: 0.5px solid lightgray;
  width: 600px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.feeds-RightArea{
  padding-left:20px;
  position: relative;
}

[class^="feeds-poster-delete-icon-"]{
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.feeds-LeftArea-skelton{
  padding-left: 15px;
}

/*Popup*/
.cover-image-delete {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: hsla(0, 0%, 13%, 0.5);   
}

.pop-up-message-delete {
  position: relative;
  z-index: 1000;
  color: black;
  background-color: white;
  width: 317px;
  height: 292px;
  border-radius: 15px;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.confirm-delete-text-1 {
  margin-left: 30px;
}

.confirm-delete-text-2 {
  margin-left: 30px;
  margin-right: 30px;
}

.agreeDeleteBtn {
  width: 250px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #f77d2b;
  color: white;
  box-shadow: 2px 2px 7px 2px lightgrey;
  margin-left: 30px;
}

.notAgreeDeleteBtn {
  margin-top: 10px;
  width: 250px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  color: #d9d9d9;
  margin-left: 30px;
}

/*Right Section -- Center*/
/*Center Intro*/

.Intro {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 0.5px solid lightgrey;
}

.intro-header-pic {
  object-fit: cover;
  position: relative;
  width: 600px;
  height: 200px;
}

.Intro-user-pic {
  position: absolute;
  object-fit: cover;
  top: 180px;
  left: 10px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding-left: 5px
}

.Intro-header-piczone{
  position: relative;
}

//lazyloading-header
.placeholder-lazyloading-header{
  width: 600px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(90deg,#e0e0e0 25%,#f0f0f0 50%,#e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    transition: opacity 1.5s ease;
}

.placeholder-lazyloading-introPic{
  top: 180px;
    left: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding-left: 5px;
    position: absolute;
    background: linear-gradient(90deg,#e0e0e0 25%,#f0f0f0 50%,#e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    transition: opacity 1.5s ease;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.Intro-user-edit-btn-zone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Intro-user-following-btn {
  margin-right: 10px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
  
  &.click{
    margin-right: 10px;
    border-radius: 40px;
    background-color: white;
    color: orangered;
    border: 0.8px solid orangered;
    padding: 5px 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    font-size: 0.9rem;
  }
}

.others-email-btn,
.others-subscript-btn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 0.5px solid orangered;
  margin-right: 10px;
  object-fit: fill;
  padding: 5px;
}


.Intro-user-edit-btn {
  margin-right: 10px;
  border-radius: 40px;
  background-color: white;
  color: orangered;
  border: 0.8px solid orangered;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
}

.Intro-user-pic-zone{
  height: 35px;
}
.Intro-usernameid {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: 20px;
}

.Intro-username {
  font-size: 1.2rem;
  font-weight: bold;
}

.Intro-id {
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
}

.Intro-user-introduction {
  font-size: 0.9rem;
  padding-left: 15px
}

.Intro-user-follow {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  margin-bottom: 20px;
}

.Intro-user-following,
.Intro-user-follower {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 0.9rem;
}

.Intro-user-follower {
  padding-left: 30px;
}

.Intro-user-following-num,
.Intro-user-follower-num {
  font-weight: bold;
  padding-right: 3px;
  color: black;
}


/*Right Section -- Center*/
/*TabBar*/

.tabBar {
  display: flex;
  flex-direction: row;
  width: 600px;
  border: 0.5px solid lightgrey;
  position: relative;
}

.center-tab-bar-text-post {
  position: relative;
}

.center-tab-bar-text-tweet {
  position: relative;
}
 .center-tab-bar-text-likes {
   position: relative;
 }

.tab-hover1,
.tab-hover2,
.tab-hover3 {
  width: 120px;
  height: 54px;
  background-color: lightgrey;
  position: absolute;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

//tab1

.center-tab-bar-text-post:hover + .tab-hover1{
  opacity: 0.2;
  visibility: visible;
}

//tab2
.center-tab-bar-text-tweet:hover + .tab-hover2 {
  opacity: 0.2;
  visibility: visible;
 }

 //tab3
.center-tab-bar-text-likes:hover + .tab-hover3 {
  opacity: 0.2;
  visibility: visible;
}

.center-tab-bar-center-post,
.center-tab-bar-center-tweet,
.center-tab-bar-center-likes {
  width: 120px;
  margin-right: 3px;


  &.clicked {
    border-bottom: 3px solid orangered;
  }
}

.center-tab-bar-text-post,
.center-tab-bar-text-tweet,
.center-tab-bar-text-likes {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: bold;
  height: 50px;
  font-size: 0.9rem;
  background-color: white;

  &.clicked {
    color: orangered;
  }
}

/*OnlyOne*/
/*Header*/

.big-header {
  width: 1080px;
  display: flex;
  // border: 0.5px solid lightgrey;
  height: 55px;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;
}

/*Tweet*/

.adminMain {
  border:0.5px solid lightgrey;
  width: 1100px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.adminMain-LeftArea {
  width: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.adminMain-user-photo {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: cover;
}

.adminMain-RightArea {
  width: 1012px;
  display: flex;
  flex-direction: column;
}

.adminMain-RightTopArea {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
}

.adminMain-poster-name {
  font-weight: bold;
}

.adminMain-poster-id,
.adminMain-poster-time {
  color: grey;
  font-size: 0.9rem;
  padding-left: 2px;
}

.adminMain-RightButtonArea {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 0.8rem;
}

.adminMain-poster-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}



/*Only One Display*/

.rightSection-center-onlyone {
  width: 1105px;
  position: relative;
  overflow: scroll;
  height: 800px;
}

/*Only One*/
/*User List*/
.Small-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 0.5px solid lightgrey;
  margin-left: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Small-intro-header-pic {
  object-fit: fill;
  width: 250px;
  height: 150px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.Small-intro-user-pic {
  position: absolute;
  object-fit: cover;
  width: 90px;
  height: 90px;
  top: 100px;
  left: 85px;
  border-radius: 50px;
  border: 3px solid white;
}

.Small-intro-greyzone {
  background-color: lightgray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
}

.Small-intro-usernameid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 35px;
}

.Small-intro-username {
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
}

.Small-intro-id {
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
}


.Small-intro-replyandlike,
.Small-intro-reply,
.Small-intro-like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3px;
  align-items: center;
}

.Small-intro-replyicon-content,
.Small-intro-likeicon-content{
  width: 10px;
  height: 10px;
}

.Small-intro-like,
.Small-intro-user-follower{
  padding-left: 10px;
}
.Small-intro-like-num,
.Small-intro-reply-num {
  color: grey;
  font-size: 0.9rem;
  padding-left: 5px;
}

.Small-intro-user-follow,
.Small-intro-user-following,
.Small-intro-user-follower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
  margin-bottom: 3px;
}

.Small-intro-user-following-num,
.Small-intro-user-follower-num {
  font-weight: bold;
  padding-right: 3px;
  color: black;
}


/*Only One*/
/*User List Section*/

.Small-intro-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1105px;
}

.feeds-RightTopArea-skelton .skeleton {
  width: 250px;
  height: 15px;
}

.feeds-RightCenterReplyArea-skelton .skeleton,
.feeds-RightButtonArea-skelton .skeleton {
  width: 450px;
  height: 15px;
}

@media (prefers-color-scheme: dark) {
  .middle-header{
  background-color: black;
  border: 0px;
  }

  .followbox-right-button{
    background-color: black
  }
  .feeds,
  .tabBar{
    border:0px;
  }

  .post {
    border: 0px;
  }

  .feeds-poster-heartNumber{
    color: white;
  }

  .card-skelton {
    border: 0px;
  }

  .middle-header-leftarea{
    align-items: start;
    padding-top: 15px;
  }

  .center-tab-bar-text-post,
  .center-tab-bar-text-tweet,
  .center-tab-bar-text-likes{
      background-color: black;
      color: white;
    }

  .Intro-username,
  .Intro-user-follower-num,
  .Intro-user-following-num,
  .Intro-user-following,
  .Intro-user-follower{
    color: white;
  }

  .Intro{
    border: 0px;
  }

  .left-section-container{
    background-color: black;
  }

  .left-section-button-text,
  .followbox-center-name{
    color: white;
  }

  .post-brbar{
  border:0px;
  }

  input {
    color: black;
  }
  
  .footer-reply-area{
    background-color: black;
    border: 0px;
    box-shadow: 2px 2px 7px 2px #656363;
  }

  .feeds-poster-heartIcon.red{
    height: 18px;
  }
}

/*---------------------------------------*/
/*手機版*/
@media (max-width: 480px) {
  .rightSection {
      display: flex;
      flex-direction: column;
  }

  //追蹤中區塊不見
  .rightSection-right{
    display: none;
  }

  //靠左對齊
  .middle-header{
    margin-left: 0px;
  }

  .rightSection{
    margin-left: 0px;
  }

  //寬度改為100vw
  .middle-header{
    width: 100vw;
  }

  .feeds{
    width: 100vw;
  }

  .post{
    width: 100vw;
  }

  .post-brbar{
    width: 100vw;
  }

  .feeds-poster-id{
    display: none;
  }
  .feeds-poster-time{
    font-size: 0.8rem;
  }

  .Intro{
    width: 100vw;
  }

  .intro-header-pic{
    width: 100vw;
  }

  .tabBar{
    width: 100vw;
  }

  .feeds-RightArea{
    width: calc(100vw - 55px);
  }

  .feeds-RightTopArea-skelton .skeleton {
    width: 150px;
  }
  
  .feeds-RightCenterReplyArea-skelton .skeleton,
  .feeds-RightButtonArea-skelton .skeleton {
      width: 280px;
    }

  //避免手機版聚焦
  textarea{
      font-size: 16px;
    }

  //手機版reply-area
    .footer-reply-area {
      position: fixed;
      bottom: 60px;
      width: 100%;
      box-shadow: 2px 2px 7px 2px lightgrey;
      display: flex;
      align-items: center;
    }

    .footerReply-submit-btn{
        margin-right: 20px;
      }
}