.left-section {
    position: relative;
    margin-left: 45px;
    top: 0px;
}

.left-section-container {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width:205px;
}

.left-section-flex-start,.left-section-flex-start-logo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-section-flex-start-logo{
  margin-bottom: 30px;
  margin-top: 8px;
  padding-left: 10px;
}

.left-section-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
  width: 230px;

  &.click {
    .left-section-button-text {
      color: orangered;
    }
  }
}

.left-section-button-icon {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}

.left-section-button-text {
  // font-weight: bold;
  padding-left: 10px;
  color: black;
  
  &.bold{
    font-weight: 900;
  }
}

//hover
.left-section-button-hover{
  background-color: lightgray;
    width: 120px;
    height: 45px;
    border-radius: 40px;
    position: absolute;
    left: 0px;
    opacity: 0.2;
    display: none;
    z-index: -1;

    &.num-5 {
      width: 140px;
    }
}

.left-section-button-text:hover ~ .left-section-button-hover{
  display: block;
}


.left-section-flex-center {
  // height: 600px;
}

.LeftSection-Tweet-Btn{
  margin-right: 10px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  border: 0.8px solid orangered;
  padding: 5px 10px;
  margin-bottom: 40px;
  padding-top: 5px;
  font-size: 1.1rem;
  width: 150px;
  height: 45px;
}