/*Right Section*/
.rightSection{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left:80px;
  top:0px;
}

.rightSection-center{
  width: 605px;
  position: relative;
  overflow: scroll;
  height: 800px;
  scrollbar-width: none;/* Firefox */
  -ms-overflow-style: none;/* IE 10+ */
    
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari 和 Edge */
  }
}


.rightSection-right{
  width: 463px;
  left:630px;
}

/*Right Section -- Center*/
/*Header*/
.middle-header {
  border: 0.5px solid lightgrey;
  width: 600px;
  display: flex;
  height: 50px;
  background-color: white;
  position: sticky;
  top:0px;
  z-index: 300;
  
  &.popup{
    background-color:transparent;
  }
}

.middle-header-leftarea {
  display: flex;
  align-items: center;
  padding-left: 3px;
}

.middle-header-leftarea-img{
  width: 15px;
  height: 15px;
}

.middle-header-rightarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 20px;
}

.middle-header-title {
  font-weight:bold;
  font-size: 1rem;
}

.feed-count {
  font-size: 0.8rem;
  color: grey;
}

// img{
//   width: 15px;
//   height: 15px;
// }

/*Right Section -- Center*/
/*Feed*/

.feeds {
  width: 600px;
  display: flex;
  flex-direction: row;
  border: 0.5px solid lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.feeds-LeftArea {
  width: 40px;
}

.feeds-RightArea {
  width: 550px;
  display: flex;
  flex-direction: column
}


.feeds-RightTopArea {
  display: flex;
  flex-direction: row
}


.feeds-poster-name {
  font-weight: bold;
}

.feeds-poster-id,
.feeds-poster-time {
  color: grey;
  font-size: 0.9rem;
  padding-left: 2px;
}

.feeds-RightButtonArea {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 0.8rem;
}

.feeds-poster-ReplyIcon, .feeds-poster-heartIcon {
  padding-left: 10px;
  width: 10px;
  height: 10px;

}

.feeds-poster-ReplyNumber, .feeds-poster-heartNumber{
  padding-left: 10px;
}

.feeds-poster-ReplyArea, .feeds-poster-heartArea{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.feeds-RightButtonArea,
.feeds-RightTopArea,
.feeds-RightCenterArea {
  padding: 3px 0;
}

.feeds-RightCenterArea {
  display: flex;
  justify-content: flex-start;
}

.feeds-RightCenterReplyArea {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: grey;
}

.feeds-RightCenterReplyArea-replyPerson {
  color: orange;
  padding-left: 2px;
}

.feeds-user-photo, .post-user-photo {
  width: 30px;
  height: 30px;
  border-radius: 45px;
  padding: 3px;
  object-fit: cover;
}

/*Right Section -- Center*/
/*Post*/

.post {
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: row;
  border: 0.5px solid lightgrey;
  padding-top: 3px;
}

.post-LeftArea {
  width: 40px;
}

.post-user-photo {
  width: 30px;
  height: 30px;
}

.post-RightArea {
  width: 550px;
  display: flex;
  flex-direction: column;
  &.popup {
      background-color: transparent;
    }
}

.post-RightTopArea{
  color: grey;
  height: 80px;
  padding-top: 10px;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  border:0px solid
}

.post-RightButtonArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;

}

.post-button {
  margin-right: 10px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  border: 0px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.post-brbar {
  width: 600px;
  height: 8px;
  background-color:#f7f6f5;
  color: lightgrey;
  border-right: 0.5px solid lightgrey;
  border-left: 0.5px solid lightgrey;
}


/*Right Section -- Right*/

.right-section {
  display: flex;
  justify-content: flex-start;
}


.right-section-container {
  background-color:#f7f6f5;
  width: 350px;
  height: 610px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
  z-index: 200;
  overflow: scroll;
  &.popup {
      background-color: transparent;
    }
}

.right-section-container-title{
  border-bottom: 0.5px solid lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-section-container-followbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:3px;
  border-bottom:0.5px solid grey;
}

.followbox-center-name{
  color: black;
}
.followbox-photo {
  width: 40px;
  height: 40px;
  border-radius: 45px;
  padding-left: 5px;
  padding-top: 3px;
  object-fit: cover;
}

.followbox-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  font-style: bold;
  padding-left: 10px;
  font-size: 0.8rem;
}

.followbox-center-id {
  color: grey;
}

.followbox-right-button {
  margin-right: 10px;
  border-radius: 40px;
  background-color: white;
  color: orangered;
  border: 0.8px solid orangered;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
  
  &.followed{
  margin-right: 10px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  border: 0px;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
  }
}

/*Right Section -- Center*/
/*Center Bigger Post*/

.bigger-post {
  display: flex;
  flex-direction: column;
  width: 595px;
  border: 0.5px solid lightgrey;
  padding-left: 5px;
}

.bigger-post-top-area {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 8px;
}

.bigger-post-top-area-right {
  display: flex;
  flex-direction: column;
}

.post-user-photo {
  width: 30px;
  height: 30px;
}

.feeds-poster-name {
  font-weight: bold;
  font-size: 0.9rem;
}

.feeds-poster-id {
  font-size: 0.8rem;
  color: grey;
}

.bigger-post-center-area-post {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.bigger-post-center-area-posttime {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: grey;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
  padding-left: 5px;
}

.bigger-post-button-area-replyandlike {
  display: flex;
  flex-direction: row;
  font-size: 1.1 rem;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
  color: grey;
  padding-left: 5px;
}

.bigger-post-button-area-reply {
  display: flex;
  flex-direction: row;
}

.bigger-post-button-area-like {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

.bigger-post-button-area-reply-num,
.bigger-post-button-area-like-num {
  font-weight: bold;
  padding-right: 3px;
  color: black;
}

.bigger-post-button-area-icon {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid lightgrey;
  padding-left: 30px;
}

.bigger-post-button-area-likeicon {
  margin-left: 80px;
}


/*Right Section -- Center*/
/*Center Intro*/

.Intro {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 0.5px solid lightgrey;
}

.intro-header-pic {
  object-fit: cover;
  position: relative;
  width: 600px;
  height: 200px;
}

.Intro-user-pic {
  position: absolute;
  object-fit: cover;
  top: 180px;
  left: 10px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding-left: 5px
}

.Intro-user-edit-btn-zone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Intro-user-following-btn {
  margin-right: 10px;
  border-radius: 40px;
  background-color: orangered;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
  
  &.click{
    margin-right: 10px;
    border-radius: 40px;
    background-color: white;
    color: orangered;
    border: 0.8px solid orangered;
    padding: 5px 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    font-size: 0.9rem;
  }
}

.others-email-btn,
.others-subscript-btn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 0.5px solid orangered;
  margin-right: 10px;
  object-fit: fill;
  padding: 5px;
}


.Intro-user-edit-btn {
  margin-right: 10px;
  border-radius: 40px;
  background-color: white;
  color: orangered;
  border: 0.8px solid orangered;
  padding: 5px 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9rem;
}

.Intro-usernameid {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: 15px;
}

.Intro-username {
  font-size: 1.2rem;
  font-weight: bold;
}

.Intro-id {
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
}

.Intro-user-introduction {
  font-size: 0.9rem;
  padding-left: 15px
}

.Intro-user-follow {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  margin-bottom: 20px;
}

.Intro-user-following,
.Intro-user-follower {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 0.9rem;
}

.Intro-user-follower {
  padding-left: 30px;
}

.Intro-user-following-num,
.Intro-user-follower-num {
  font-weight: bold;
  padding-right: 3px;
  color: black;
}


/*Right Section -- Center*/
/*TabBar*/

.tabBar {
  display: flex;
  flex-direction: row;
  width: 600px;
  border: 0.5px solid lightgrey;
}

.center-tab-bar-center-post,
.center-tab-bar-center-tweet,
.center-tab-bar-center-likes {
  width: 120px;
  margin-right: 3px;


  &.clicked {
    border-bottom: 3px solid orangered;
  }
}

.center-tab-bar-text-post,
.center-tab-bar-text-tweet,
.center-tab-bar-text-likes {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: bold;
  height: 50px;
  font-size: 0.9rem;
  background-color: white;


  &.clicked {
    color: orangered;
  }
}


/*OnlyOne*/
/*Header*/

.big-header {
  width: 1080px;
  display: flex;
  // border: 0.5px solid lightgrey;
  height: 55px;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;
}

/*Tweet*/

.adminMain {
  border:0.5px solid lightgrey;
  width: 1100px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.adminMain-LeftArea {
  width: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.adminMain-user-photo {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: cover;
}

.adminMain-RightArea {
  width: 1012px;
  display: flex;
  flex-direction: column;
}

.adminMain-RightTopArea {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
}

.adminMain-poster-name {
  font-weight: bold;
}

.adminMain-poster-id,
.adminMain-poster-time {
  color: grey;
  font-size: 0.9rem;
  padding-left: 2px;
}

.adminMain-RightButtonArea {
  display: flex;
  flex-direction: row;
  color: grey;
  font-size: 0.8rem;
}

.adminMain-poster-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}



/*Only One Display*/

.rightSection-center-onlyone {
  width: 1105px;
  position: relative;
  overflow: scroll;
  height: 800px;
}

/*Only One*/
/*User List*/
.Small-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 0.5px solid lightgrey;
  margin-left: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Small-intro-header-pic {
  object-fit: fill;
  width: 250px;
  height: 150px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.Small-intro-user-pic {
  position: absolute;
  object-fit: cover;
  width: 90px;
  height: 90px;
  top: 100px;
  left: 85px;
  border-radius: 50px;
  border: 3px solid white;
}

.Small-intro-greyzone {
  background-color: lightgray;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
}

.Small-intro-usernameid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 35px;
}

.Small-intro-username {
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
}

.Small-intro-id {
  color: grey;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
}


.Small-intro-replyandlike,
.Small-intro-reply,
.Small-intro-like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3px;
  align-items: center;
}

.Small-intro-replyicon-content,
.Small-intro-likeicon-content{
  width: 10px;
  height: 10px;
}

.Small-intro-like,
.Small-intro-user-follower{
  padding-left: 10px;
}
.Small-intro-like-num,
.Small-intro-reply-num {
  color: grey;
  font-size: 0.9rem;
  padding-left: 5px;
}

.Small-intro-user-follow,
.Small-intro-user-following,
.Small-intro-user-follower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
  margin-bottom: 3px;
}

.Small-intro-user-following-num,
.Small-intro-user-follower-num {
  font-weight: bold;
  padding-right: 3px;
  color: black;
}


/*Only One*/
/*User List Section*/

.Small-intro-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1105px;
}


